<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
          integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q="
          crossorigin="anonymous"
        />
        <link rel="stylesheet" href="css/styles.css" type="text/css" />
        <title>Narzędzia</title>
    </head>
    <body>  
        <div class="ui inverted menu">
        <a href="/" class="item">Strona Główna</a>
        <div href="header narzedzia" class="item">Narzędzia</div>
  
        <a href="new" class="item"> Dodaj Szczęki </a>
      </div>

        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, alias maiores placeat culpa ratione, quod velit laudantium magnam tempore pariatur corrupti cum officia nam distinctio beatae dicta optio enim officiis!</h1>
    </body>
</html>